<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<section>
		<div>
			<div>
				<div>
					<form action="/login" method="post">
						<h3>SIGN IN</h3>
						<input type="text" id="username" name="username" placeholder="USERNAME" required>
						<input type="password" id="password" name="password" placeholder="PASSWORD" required>
                        <div class="inval">
                            <p>{{error}}</p>
                        </div>
						<button class="submit">LOGIN</button>
					</form>
				</div>
                
                <div>
                    <form action="/reg" method="get">
                        <button class="regbutton" type="submit">New User</button>
                    </form>
                </div>
                <div>
                    <form action="/guest" method="get">
                        <button class="guestbutton" type="submit">Guest</button>
                    </form>
                </div>
			</div>
		</div>
	</section>
</body>
</html>