<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<section>
		<div>
			<div>
				<div>
					<form action="/reg" method="post">
						<h3>SIGN UP</h3>
						<input type="text" id="username" name="username" placeholder="USERNAME" required>
						<input type="mail" id="mail" name="mail" placeholder="MAIL" required>
						<input type="age" id="age" name="age" placeholder="AGE" min="18" max="100" required>
						<input type="password" id="password" name="password" placeholder="PASSWORD" required>
						
						<button class="submit">REGISTER</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>